


        <form name = "authform" class = "form-horizontal" data-ng-submit = "save(scquote)" >


            <p><label for="x" class="col-lg-2 control-label"> Quote</label>
            <input type="text" placeholder = "price" name = "{{sample.user_id}}"   data-ng-model="scquote.quote_cost"></p>
              <div class="col-md-5 col-xs-12 inline" style="margin-bottom:10px;width:350px;">


                <label for="x" class="col-lg-2 control-label"> Notes</label>
              <textarea class="form-control" name= "Mechanic's Notes" data-ng-model="scquote.quote_text" placeholder="Send customer Notes"> </textarea>
              </div>
              <button type = "submit">{{buttonText}}</button>


            </form>
          <ng-transclude></ng-transclude>
