


<!-- <div ng-init="portal.getRequests()"> -->

<div ng-init="portal.altGetRequests()"></div>


      <!-- <h1 ng-repeat="x in portal.workrequests track by $index"> {{x}}</h1> -->
<uib-tabset active="active">
  <h2 style="float:right;">{{portal.service.welcome}}</h2>


  <uib-tab  index="0" heading="New Bids" >
    <div class="tab-content" style="border:solid 2px #ff6600;">
      <div id="mainPending" class="tab-pane fade in active">

              <uib-accordion close-others="portal.oneAtATime">

              <div uib-accordion-group class="panel-default" heading="Vehicle# {{sample.id}} {{sample.year}} {{sample.make}} {{sample.model}}" ng-repeat="sample in portal.workrequests">
              <p> Vehicle: {{sample.year}} {{sample.make}} {{sample.model}} {{sample.engine}} engine {{sample.mileage}} miles</p>
                <p ng-repeat="x in sample.service_requests">{{x.parsed}}</p>


     <uib-accordion close-others="portal.oneAtATime">
       <div uib-accordion-group heading="nesting">

         stuff here
       </div>
     </uib-accordion>


        </div>
        </uib-accordion>
  </div>

</div>

  </uib-tab>

      <uib-tab index = "1" heading="Past Bids"   ng-init="portal.getPastBids()">
        <div class="tab-content" style="border:solid 2px #ff6600;">
        </div>
      </uib-tab>

    <uib-tab index="2" heading="Appointments" >
      <div class="tab-content" style="border:solid 2px #ff6600;" >
<!--
      <uib-accordion close-others="portal.oneAtATime">

      <div uib-accordion-group class="panel-default" heading="{{sample.id}} {{sample.year}} {{sample.make}} {{sample.model}}" ng-repeat="sample in portal.workrequests">
      <p> Vehicle: {{sample.year}} {{sample.make}} {{sample.model}} {{sample.engine}} engine {{sample.mileage}} miles</p>
        <p ng-repeat="x in sample.service_requests">{{x.parsed}}</p>

      <div class="container">

      <hr>

      </div>

</uib-accordion> -->
        </div>
      </uib-tab>

</uib-tabset>



    </div>
