



<main class="container" data-ng-controller="UserDashboardController as UserDashCtrl" ng-init="UserDashCtrl.getUserInfo()" id="ud_container" style="font-family: Helvetica;">

<div class="containter">

	<div class="row">
		<div class="col-md-12 col-sm-12">

<!--
			<select name="f" id="g" ng-model="UserDashCtrl.foo" ng-options="x for x in UserDashCtrl.dummyList "></select>ff

			<quotes></quotes> -->

			<h1>Welcome back, {{UserDashCtrl.userObject.user_name}}!</h1>
			We value you as a customer and strive to deliver a solution that is right for you.<br><br>
		</div>
	</div>
<!--/////////////////// START NOTIFICATION ROW /////////////////////-->
	<div class="row apptRow">
		<div class="col-md-2 col-sm-12 apptHead" style="line-height:80px;height:80px;text-align:center;">
			<h4>Message TBD</h4>
		</div>



		<div class="col-md-3 col-sm-12" style="padding:0;">
			<div class="apptHead">Your Vehicle(s) 	 <a ng-click="UserDashCtrl.addVehicle()"  style="color:white; float: right;">Add a vehicle</a></div>
			<div style="display:inline;" class="apptText"><span  ng-if="UserDashCtrl.userObject.autos.length ==0"> You haven't entered a car.<br><a style="color: white;"  ng-controller="vehicleModalController as $ctrl" ng-click ="$ctrl.open()">Add a vehicle</a></span>



			</div>

			<span ng-repeat="car in UserDashCtrl.all" style="display:inline; color: white;">
             <a ng-class="{myColor: UserDashCtrl.demo == $index}" ng-click="UserDashCtrl.demo = $index" style="color:white;" >{{car.year}} {{car.make}} {{car.model}} &nbsp; &nbsp;</a>

      </span>



		</div>
		<div class="col-md-3 col-sm-12" style="padding:0;">
			<div class="apptHead">Services <span style="float: right;">			<a ng-click="UserDashCtrl.addRequest()" style="color: white;">Add a request</a></span></div>


			<div class="apptText" ng-repeat="car in UserDashCtrl.all">  <span  ng-if="UserDashCtrl.userObject.service_requests.length ==0">  <a style="color: white;" ng-click ="UserDashCtrl.addRequest()">Submit a request</a></span> <span ng-hide = "UserDashCtrl.demo != $index">



	  <span  ng-repeat="request in car.requests track by $index"   style="color:white;"> {{request.parsed}}  &nbsp; &nbsp;</span>


			</div>

				<div class="apptText">  <span  ng-if="UserDashCtrl.userObject.service_requests.length ==0">  <a style="color: white;" ng-click ="UserDashCtrl.addRequest()">Submit a request</a></span>
			</div>
		</div>
	</div>



	</div>
<!--/////////////////// START MAINTENANCE LISTINGS COLUMN /////////////////////-->

<!-- ==========NEW BIDS TAB ============ -->
	<div class="row" id="user_dash">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h3 >Your Maintenance</h3>


<!--/////////////////// START TABS /////////////////////-->
	 <uib-tabset active="active" >

		 <!-- <uib-tab index="$index+1" ng-repeat="car in UserDashCtrl.all" heading="{{car.make}} {{car.model}}"  select="UserDashCtrl.getBids(car)" ng-click="NgMap.initMap('fooc')" > -->

		 <uib-tab index="$index+1" ng-repeat="car in UserDashCtrl.all" heading="{{car.make}} {{car.model}}"  ng-model= "UserDashCtrl.foo" select="UserDashCtrl.getBids(car)" ng-click="NgMap.initMap('fooc')" >


	 <div class="row">

<!-- ========MAP======== -->

  <div class="col-md-6 col-sm-12" id="mapDiv" >


	 <ng-map center='"current-location"'
	 >
	 </ng-map>
	 </div>

<!-- <span >{{car}}</span> -->

<!-- map side bar begins ============== -->

<!-- <quotes ng-init="UserDashCtrl.getBids(car)"></quotes> -->

<quotes></quotes>

 <!-- <div class="col-md-5 col-sm-12" style="margin-top:15px;color: #FF6600;">
				<ol style="list-style-type:decimal;">
				<li  class="mapListNumber" style="list-style-type:none;" ng-repeat="quotes in UserDashCtrl.the_quotes_array">
						<div class="row" style="margin:-27px 0 0 0;">

								<div class="col-md-12 col-sm-12 col-xs-10 inline mapListCompany" style="padding-left:12%;" >

								<p style="background: #FF6600; color: white;">	{{quotes.name}}</p>

										<div  ng-repeat="subquotes in quotes.theArray" class="row" style="font-size: 16px;">
                      <span class="col-sm-6"> {{subquotes.work_request}}</span>
											<span class="col-sm-3 pull-right">${{subquotes.quote_cost}}</span>

           <div class="col-md-12 col-sm-12">
											<select name="apptDate" id="apptSelect" ng-model="UserDashCtrl.selectedTime" size="1" class="input-sm form-control pull-left;" style="height:20px; width: auto; padding-left: 12%">
							 <option value="">Pick Appointment</option>
							 <option value="{{quotes.available_date_1}}">{{subquotes.available_date_1}}</option>
							 <option value="{{quotes.available_date_2}}">{{subquotes.available_date_2}}</option>
							 <option value="{{quotes.available_date_3}}">{{subquotes.available_date_3}}</option>
							</select>
           </div>
					<br>
					<br>
				<div class="col-sm-12 col-md-8">
         <p style="color: #FF6600; font-size:10px;"><strong>Notes:</strong> <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore numquam aliquid dolores dolorum maxime alias ...</em></p>
				</div>
					 <br>
	 				<br>
			 <div class="col-md-4 col-sm-4 col-xs-4" id="acceptDiv" style="padding-bottom: 5%;">
			 <button class="btn btn-default " style="padding-left: 5%;" id="accept"
			><i class="fa fa-check-circle"></i> ACCEPT</button>
		 </div>
								</div>
										<hr>
							</div>
					</div>
        </li>
				</ol>

	</div> -->
</div>
 		 </uib-tab>

		 	 <uib-tab index= "'appointments'"  heading="Appointments" >
<div class= "row">
				<div class="col-md-6 col-sm-12" id="mapDiv">


<ng-map center='"current-location"'
>
</ng-map>

			 	 </div>
			 </div>
		 	 </uib-tab>

			 <uib-tab index= "'history'"  heading="History" >

	history
			 </uib-tab>
	 </uib-tabset>







</main>
