



<main class="container" data-ng-controller="UserDashboardController as UserDashCtrl" ng-init="UserDashCtrl.getUserInfo()" id="ud_container" style="font-family: Helvetica;">



	<!-- <div class="col-md-6 col-sm-12 mapDiv" >

		<ng-map zoom="11" center="[40.74, -75.18]" style="width:30%; height:300px; float:left"></ng-map>
			<ng-map zoom="11" center="[40.74, -75.18]" style="width:30%; height:300px; float:left"></ng-map>
			<ng-map  center="[40.74, -74.18]" style="width:30%; height:300px; float:left"></ng-map>

	</div> -->

<div class="containter">

	<div class="row">
		<div class="col-md-12 col-sm-12">

<!--
			<select name="f" id="g" ng-model="UserDashCtrl.foo" ng-options="x for x in UserDashCtrl.dummyList "></select>ff

			<quotes></quotes> -->

			<h1>Welcome back, {{UserDashCtrl.userObject.user_name}}!</h1>
			We value you as a customer and strive to deliver a solution that is right for you.<br><br>
		</div>
	</div>
<!--/////////////////// START NOTIFICATION ROW /////////////////////-->
	<div class="row apptRow">
		<div class="col-md-2 col-sm-12 apptHead" style="line-height:80px;height:80px;text-align:center;">
			<h4>Message TBD</h4>
		</div>



		<div class="col-md-3 col-sm-12" style="padding:0;">
			<div class="apptHead">Your Vehicle(s) 	 <a ng-click="UserDashCtrl.addVehicle()"  style="color:white; float: right;">Add a vehicle</a></div>
			<div style="display:inline;" class="apptText"><span  ng-if="UserDashCtrl.userObject.autos.length ==0"> You haven't entered a car.<br><a style="color: white;"  ng-controller="vehicleModalController as $ctrl" ng-click ="$ctrl.open()">Add a vehicle</a></span>



			</div>

			<span ng-repeat="car in UserDashCtrl.all" style="display:inline; color: white;">
             <a ng-class="{myColor: UserDashCtrl.demo == $index}" ng-click="UserDashCtrl.demo = $index" style="color:white;" >{{car.year}} {{car.make}} {{car.model}} &nbsp; &nbsp;</a>

      </span>



		</div>
		<div class="col-md-3 col-sm-12" style="padding:0;">
			<div class="apptHead">Services <span style="float: right;">			<a ng-click="UserDashCtrl.addRequest()" style="color: white;">Add a request</a></span></div>


			<div class="apptText" ng-repeat="car in UserDashCtrl.all">  <span  ng-if="UserDashCtrl.userObject.service_requests.length ==0">  <a style="color: white;" ng-click ="UserDashCtrl.addRequest()">Submit a request</a></span> <span ng-hide = "UserDashCtrl.demo != $index">



	  <span  ng-repeat="request in car.requests track by $index"   style="color:white;"> {{request.parsed}}  &nbsp; &nbsp;</span>


			</div>

				<div class="apptText">  <span  ng-if="UserDashCtrl.userObject.service_requests.length ==0">  <a style="color: white;" ng-click ="UserDashCtrl.addRequest()">Submit a request</a></span>
			</div>
		</div>
	</div>



	</div>
<!--/////////////////// START MAINTENANCE LISTINGS COLUMN /////////////////////-->

<!-- ==========NEW BIDS TAB ============ -->
	<div class="row" id="user_dash">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h3 >Your Maintenance</h3>


<!--/////////////////// START TABS /////////////////////-->
	 <uib-tabset active="active" >


		 <uib-tab index="$index+1" ng-repeat="car in UserDashCtrl.all" heading="{{car.make}} {{car.model}}"  ng-model= "UserDashCtrl.foo" select="UserDashCtrl.getBids(car)" >


<!-- ========MAP CAR======== -->
 <div class="row">
		  	<div class="col-md-6 col-sm-12 mapDiv">
			 				<ng-map zoom="16" center="'current-location'" style="width:90%; height:300px; float:right; border: 1px solid green;">
								<marker position="'current-location'" title="Hello World!"></marker>
								  </ng-map>
			 				</ng-map>

					<quotes></quotes>

		</div>
	</div>
 		 </uib-tab>

		 	 <!-- <uib-tab index= "'appointments'"  heading="Appointments" select="UserDashCtrl.displayMap()"> -->
			 		 	 <uib-tab index= "'appointments'"  heading="Appointments" >
				<div class= "row">
					<!-- ========MAP APPOINTMENT ======== -->
					<div class="col-md-6 col-sm-12 mapDiv" >

						<ng-map zoom="11" center="'20036'" style="width:50%; height:300px; float:left"></ng-map>
							<!-- <ng-map zoom="11" center="[40.74, -75.18]" style="width:30%; height:300px; float:left"></ng-map>
							<ng-map  center="[40.74, -74.18]" style="width:30%; height:300px; float:left"></ng-map> -->

					</div>
			 </div>
		 	 </uib-tab>

			 <uib-tab index= "'history'"  heading="History" >

	history

<!--




			 </uib-tab>
	 </uib-tabset>







</main>
