
<div class="probHeader"><h2 style="margin:0px">Dashboard Warning Lights</h2>
              <p>What they mean and how to fix them.</p></div>

<table class="table">

<!--
  <tbody>
    <tr ng-repeat="dashlights in describe.service.dashChild">

   <td><a ng-click ="describe.checkedSelected(dashlights.name)" ng-model="a"><img src="{{dashlights.imageSrc}}" alt="" class="warning">
   </a></td>

   <td><a ng-click ="describe.checkedSelected(dashlights.name2)" ng-model="a"><img src="{{dashlights.imageSrc2}}" alt="" class="warning">
   </a></td>
   <td><a ng-click ="describe.checkedSelected(dashlights.name3)" ng-model="a"><img src="{{dashlights.imageSrc3}}" alt="" class="warning">
   </a></td>
   <td><a ng-click ="describe.checkedSelected(dashlights.name4)" ng-model="a"><img src="{{dashlights.imageSrc4}}" alt="" class="warning">
   </a></td>
    </tr>
  </tbody> -->


  <table cellspacing="0" cellpadding="0">
       <colgroup span="7"></colgroup>
       <tbody>

         <tr ng-repeat="day in describe.service.dashChild">
             <td ng-repeat="y in day">
               <button ng-class="{'btn-on': y.toggled, 'btn-off': !y.toggled}"  ng-click="describe.toggleBtn(y); describe.checkedSelected(y)" ><img src="{{y.imageSrc}}" alt="the pic"   class="warning"></button>

            </td>
         </tr>
     </tbody>
     </table>


</table>
