

<li >
<!-- {{description.service.descriptions[0]}}
sss -->

 <!-- <a ui-sref="common_repairs.{{description.label}}">{{description.name}}</a> -->


 <!-- <a  ui-sref="common_repairs_view.{{description.label}}"><img src="../../../images/common_icons/{{description.label}}.png" alt=""

  ng-class="{'btn btn-primary': hover, 'btn btn-default': !hover}"
   ng-mouseover="hover = true"
   ng-mouseleave = "hover = false ">
 </a> -->
<!--
 <a  ui-sref="common_repairs_view.{{description.label}}"><img src="../../../images/common_icons/{{description.label}}.png" alt=""

  ng-class="{'btn btn-primary': hover, 'btn btn-default': !hover}"
   ng-click="hover = !hover">
 </a> -->

<!-- {{description}} -->
 <a class="text-center tablink" ui-sref="common_repairs_view.{{description.label}}">

<img src="../../../images/common_icons/{{description.label}}.png" alt=""
 class="propNavItem"><br>{{description.name}}
 </a>

<ng-transclude></ng-transclude>
</li>
