<div>


<div class="panel panel-primary">


<div class="row">    <span>


  <h3 class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Add a new Vehicle</h3>

      <button class="btn btn-primary btn-sm col-xs-1 col-sm-1 col-lg-1 col-md-1 pull-right"
              type="button"
              ng-click="VehicleInfoController.closeModal()">
              X
      </button></span></div>

  <div class="panel panel-success">
    <div class="panel-body">

      <div ng-controller="VehicleInfoController as VehicleInfoController">
        <my-vehicle-select
              data-button-text="Add"
              data-click =  "update"

              >

        </my-vehicle-select>


        <button class="btn btn-primary"
                type="button"
                  ng-click="VehicleInfoController.closeModal()">
                Close
        </button>


      </div>
    </div>
  </div>
</div>

</div>
