
<div  ng-init="userctrl.captureUrl()">
<p>get the url</p>
{{userctrl.the_path}}  ____ x
 </div>

<!--
<div class="item signInForm" >
	<h3 class="text-right"><i class="fa fa-lock iconpadLG"></i>Password reset</h3>

	<form  class="form-horizontal" role="form" name="signin"> -->
		<!-- <div class="form-group" style="height: 30px;">
			<div class="col-lg-10 col-md-10 col-xl-10 col-sm-10 col-xs-12" style="float: right;">
				<input class="input-sm form-control" name="email" id="inputEmail" placeholder="Email Address" data-ng-model="userctrl.logInObject.user_email"  required autofocus />
			</div>
		</div> -->

		<!-- <div class="form-group">
			<div class=" col-lg-10 col-xl-10 col-md-10 col-sm-10 col-xs-12" style="height: 30px; float:right;">

				<input class="input-sm form-control"   name="cpassword" type="password" id="inputPassword" placeholder="Password" data-ng-model="userctrl.logInObject.password"   autofocus required /> -->
						<!-- <p class="text-primary"><small><a ng-click="userctrl.dummy('cmccammon12@gmail.com')"> forgot your password?</a></small></p> -->


									<!-- <p class="text-primary"><small><a ui-sref="pending"> forgot your password?</a></small></p>
			</div>
	  </div>

		<div class="form-group" style="height: 30px;">
			<div class="col-sm-offset-3  col-sm-9"> -->

				<!-- <button class="btn btn-default pull-right" type="submit" ng-show="userctrl.service.hasVehicle != true" ng-click="userctrl.logIn(userctrl.logInObject.user_email, userctrl.logInObject.password)" style="display:inline;"><i class="fa fa-unlock-alt"></i> {{buttonText}}</button> -->


<!-- <button class="btn btn-default pull-right" type="submit"   ng-click="userctrl.dummy(userctrl.logInObject.user_email, userctrl.logInObject.password)" style="display:inline;"><i class="fa fa-unlock-alt"></i> {{buttonText}}</button>

 						<span>  <p>{{userctrl.service.message}}</p> <button  ng-show="userctrl.service.hasVehicle == true" ng-click="replace(userctrl.logInObject.user_email, userctrl.logInObject.password)">Yes</button>

							<button ng-show="userctrl.service.hasVehicle == true"
							ng-click="noReplace(userctrl.logInObject.user_email, userctrl.logInObject.password)"
							>No</button></span> -->


				<!-- <p>{{userctrl.service.message}}</p> -->

			<!-- </div>
		</div>


	</form>


					<ng-transclude></ng-transclude>
</div> -->
