<!--
<div  ng-init="userctrl.captureUrl()">
<p>get the url</p>
{{userctrl.the_path}}  ____ x
 </div>

 {{userctrl.service.message}}</p>  -->


 <form  class="form-horizontal" role="form" name="resetpw" data-ng-submit="dummy(theUser)">
   <div class="form-group" style="height: 30px;">
     <div class="col-lg-10 col-md-10 col-xl-10 col-sm-10 col-xs-12" style="float: right;">
       <input class="input-sm form-control" name="email" id="inputEmail" placeholder="Email Address" data-ng-model="theUser.user_email"  required autofocus />
     </div>
   </div>
   	<button class="btn btn-default pull-right" type="submit"><i class="fa fa-unlock-alt"></i> {{buttonText}}</button>
 </form>





 <!-- </div> -->
